{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

	<title>Foodies</title>
	<!-- add icon link -->
    <link rel = "icon" href = "{% static 'foodiesapp/images/menubar.jpg' %}" type = "image/x-icon"> 
	
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">

	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'foodiesapp/css/bootstrap.min.css' %}">
	
	<!-- font-awesome -->
	<link rel="stylesheet" href="{% static 'foodiesapp/css/font-awesome.min.css' %}">
	<!-- custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'foodiesapp/css/style.css' %}">
    
    <!-- js -->


	<!-- google font -->
	<link href='//fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>

</head>
<body id="home" data-spy="scroll" data-target=".navbar-collapse">

	<!-- start navigation -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#home" class="navbar-brand smoothScroll"><img class="logoimg" src="{% static 'foodiesapp/images/logo.jpg' %}" alt="logo.jpg"></a>
			</div>
			<div class="collapse navbar-collapse" id="main_nav">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item"><a class="nav-link" href="{% url 'index' %}">HOME</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li> -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#Menu" id="navbarDropdown" role="button" data-toggle="dropdown">MENU ▾</a>
						<ul class="dropdown-menu">
							<li class="newcursr"><a class="dropdown-toggle"> Fresh Deli &raquo</a>
								<ul class=" submenu dropdown-menu">
									<li><a class="dropdown-item" href="{% url 'breakfast' %}">Breakfast</a></li>
									<li><a class="dropdown-item" href="{% url 'lunch' %}">Lunch</a></li>
									<li><a class="dropdown-item" href="{% url 'burger' %}">Burger</a></li>
								</ul>
							</li>
							<li class="newcursr"><a class="dropdown-toggle"> Bakery &raquo</a>
								<ul class="submenu dropdown-menu">
									<li><a class="dropdown-item" href="{% url 'kolaches' %}">Kolaches</a></li>
									<li><a class="dropdown-item" href="{% url 'cookies' %}">Cookies</a></li>
									<li><a class="dropdown-item" href="{% url 'bread' %}">Bread</a></li>
								</ul>
							</li>
							<li><a class="dropdown-item" href="{% url 'gelato' %}">Gelato</a></li>
							<li><a class="dropdown-item" href="{% url 'coffee' %}">Coffee</a></li>
						</ul>
					</li> 
					<li><a href="{% url 'contact' %}">CONTACT</a></li>						
					<!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a> -->
				</ul>
			</div>
		</div>
	</div>
	<!-- end navigation -->

	<main>
		{% block content %}
		
        {% endblock %}
    </main>

	<!-- start footer -->
	<!-- <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy; foodies</p>
					<hr>
				</div>
			</div>
		</div>
	</footer> -->
	<!-- end footer -->


	<script src="{% static 'foodiesapp/js/jquery.js' %}"></script>
	<script src="{% static 'foodiesapp/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'foodiesapp/js/plugins.js' %}"></script>
	<script src="{% static 'foodiesapp/js/smoothscroll.js' %}"></script>
	<script src="{% static 'foodiesapp/js/custom.js' %}"></script>

</body>
</html>