{% extends 'foodiesapp/base.html' %}
{% load static %}

{% block content %}

    <!-- Start Body Section -->
    <section id="gallery" class="templatemo-section templatemo-light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="weikels">
					<img src="{% static 'foodiesapp/images/weikels.jpg' %}">
					<div class="weikels"> 
						<img src="{% static 'foodiesapp/images/weikels_logo.jpg' %}" class="weikelslogo">
					</div>					<!-- <div class="contact">
						<p>ruhip@gmail.com</p>
						<p>5125674612</p>
					</div> -->
				</div>
				<br>
				<div class="col-md-12">
					<h2 class="text-center text-uppercase">Breads</h2>
					<hr>
				</div> 
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/bread1.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 1">
						<div class="gallery-des3">
							<h4 class="kolaches">White Sliced-Regular </h4>
							<h5 class="kolaches">Single&nbsp;(Loaf)&nbsp;&nbsp;&nbsp; $3.25</h5>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/bread2.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 2">
						<div class="gallery-des3">
                            <h4 class="kolaches">White Sliced-Thin </h4>
							<h5 class="kolaches">Single&nbsp;(Loaf)&nbsp;&nbsp;&nbsp; $3.25</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/bread3.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des2">
							<h4 class="kolaches">White Unsliced </h4>
							<h5 class="kolaches">Single&nbsp;(Loaf)&nbsp;&nbsp;&nbsp; $3.25</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/bread4.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Wheat Sliced-Regular </h4>
							<h5 class="kolaches">Single&nbsp;(Loaf)&nbsp;&nbsp;&nbsp; $3.25</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/bread5.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Wheat Sliced-Thin </h4>
							<h5 class="kolaches">Single&nbsp;(Loaf)&nbsp;&nbsp;&nbsp; $3.25</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/bread6.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 3">
						<div class="gallery-des3">
                            <h4 class="kolaches">Wheat Unsliced </h4>
							<h5 class="kolaches">Single&nbsp;(Loaf)&nbsp;&nbsp;&nbsp; $3.25</h5>
						</div>
					</div>
                </div>
			</div>
		</div>
	</section>
    <!-- End Body Section -->

{% endblock %}