{% extends 'foodiesapp/base.html' %}
{% load static %}

{% block content %}

    <!-- Start Body Section -->
    <section id="gallery" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    
                    <h2 class="text-center text-uppercase">Burgers</h2>
                    <!-- <hr> -->
					<h4 class="text-center">Fresh made hand patties!</h3>
                    <hr>
                    <br><br><br>
				</div> 
				<div class="col-md-12 ">
					<div class="gallery-wrapper">
						<img class="icon" src="{% static 'foodiesapp/images/iconeimg.jpg' %}">
						<div class="gallery-icon">
							<h4 class="kolaches">Combo Includes </h4>
							<h2 class="icon-wrt">Fries & Drink</h2>
							<h5 class="kolaches">Upto 32oz</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/burger1.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 1">
						<div class="gallery-des3">
							<h4 class="kolaches">Hambuger </h4>
							<h5 class="kolaches">Combo &nbsp;&nbsp;&nbsp; $6.99</h5>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $4.99</h5>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/burger2.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 2">
						<div class="gallery-des3">
                            <h4 class="kolaches">Double Meat</h4>
							<h5 class="kolaches">Combo &nbsp;&nbsp;&nbsp; $8.99</h5>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $6.99</h5>
						</div>
					</div>
				</div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/burger3.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Habenero Burger</h4>
							<h5 class="kolaches">Combo &nbsp;&nbsp;&nbsp; $7.99</h5>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $5.99</h5>
						</div>
					</div>
				</div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/burger4.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Bacon Burger</h4>
							<h5 class="kolaches">Combo &nbsp;&nbsp;&nbsp; $8.99</h5>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $6.99</h5>
						</div>
					</div>
				</div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/burger5.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Philly Steak</h4>
							<h5 class="kolaches">Combo &nbsp;&nbsp;&nbsp; $7.99</h5>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $5.99</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/fries.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 3">
						<div class="gallery-des3">
                            <h4 class="kolaches">Fries only</h4>
							<h5 class="kolaches">$1.79</h5>
							<br>
						</div>
					</div>
                </div>
			</div>
		</div>
	</section>
    <!-- End Body Section -->


{% endblock %}