{% extends 'foodiesapp/index.html' %}
{% load static %}


{% block content %}

<!-- Start contact form in use -->
<div id="contact" class="templatemo-section templatemo-light-gray-bg">
	<section id="gallery" class="text-center text-uppercase">
		<h2 class="newcont">Contact Information</h2>
		<section class="alt">
			<h3>Phone</h3>
			<p>(512) 568-4619</p>
		</section>
		<section class="alt">
			<h3>Email</h3>
			<p>ruhiprasla94@gmail.com</p>
        </section>
        <section class="alt">
			<h3>Address</h3>
			<p>11340 TX-183A Toll Rd Leander, TX 78641</p>
		</section>
	</section>
</div>
<!-- end contact for in use -->

{% endblock %}