{% extends 'foodiesapp/index.html' %}
{% load static %}


{% block content %}

<!-- Start contact form in use -->
<div id="contact" class="about">
	<section class="splitcontact">
		<h1 class="newcont">Contact Us</h1>
		<section class="alt">
			<h3>Name</h3>
			<p>Ruhi Prasla</p>
		</section>
		<section>
			<h3>Phone</h3>
			<p>(512) 568-4619</p>
		</section>
		<section>
			<h3>Email</h3>
			<p>ruhiprasla94@gmail.com</p>
		</section>
	</section>
</div>
<!-- end contact for in use -->

{% endblock %}