{% extends 'foodiesapp/base.html' %}
{% load static %}

{% block content %}

    <!-- Start Body Section -->
    <section id="gallery" class="templatemo-section">
		<div class="container">
			<div class="row">
				<div class="weikels">
					<img src="{% static 'foodiesapp/images/weikels.jpg' %}">
					<div class="weikels"> 
						<img src="{% static 'foodiesapp/images/weikels_logo.jpg' %}" class="weikelslogo">
					</div>					
					<!-- <div class="contact">
						<p>ruhip@gmail.com</p>
						<p>5125674612</p>
					</div> -->
				</div>
				<br>
				<div class="col-md-12">
					<h2 class="text-center text-uppercase">Cookies</h2>
					<hr>
				</div> 
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies1.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 1">
						<div class="gallery-des3">
							<h4 class="kolaches">Choclate Chip</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies2.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 2">
						<div class="gallery-des3">
                            <h4 class="kolaches">White Choc Macadamia</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies3.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 3">
						<div class="gallery-des3">
							<h4 class="kolaches">House Special</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies4.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Peanut Butter</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies5.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 5">
						<div class="gallery-des3">
							<h4 class="kolaches">Oatmeal</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies6.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 6">
						<div class="gallery-des3">
                            <h4 class="kolaches">Oatmeal Raisin</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies8.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 7">
						<div class="gallery-des3">
							<h4 class="kolaches"> Sugar</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/cookies7.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 8">
						<div class="gallery-des3">
							<h4 class="kolaches">Iced Sugar</h4>
							<h5 class="kolaches">Single &nbsp;&nbsp;&nbsp; $0.90</h5>
						</div>
					</div>
                </div>
                
			</div>
		</div>
	</section>
    <!-- End Body Section -->

{% endblock %}