{% extends 'foodiesapp/base.html' %}
{% load static %}

{% block content %}

	<!-- start kolaches -->
	<section id="gallery" class="templatemo-section templatemo-light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="weikels">
					<img src="{% static 'foodiesapp/images/weikels.jpg' %}">
					<div class="weikels"> 
						<img src="{% static 'foodiesapp/images/weikels_logo.jpg' %}" class="weikelslogo">
					</div>
					<!-- <div class="contact"> -->
						<!-- <p>ruhip@gmail.com</p> -->
						<!-- <p>5125674612</p> -->
					<!-- </div> -->
				</div>
				<br>
				<div class="col-md-12">
					<h2 class="text-center text-uppercase">Kolaches</h2>
					<hr>
				</div> 
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-1.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 1">
						<div class="gallery-des3">
							<h4 class="kolaches">Assorted (6-Pack) Choose Flavors </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-2.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 2">
						<div class="gallery-des3">
                            <h4 class="kolaches">Assorted (6-Pack) Any Flavors </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-6.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des2">
							<h4 class="kolaches">Blueberry Cream (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-4.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Apricot (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-5.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Blueberry (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-3.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 3">
						<div class="gallery-des3">
                            <h4 class="kolaches">Apple (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-7.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Chocolate (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-13.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Lemon (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-9.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des3">
							<h4 class="kolaches">Cherry (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-10.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Cherry Cream (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-12.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Cream Cream (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
				</div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-14.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des2">
							<h4 class="kolaches">Peach (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-15.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Peach Cream (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-16.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Pineapple (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-17.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Poppy Seed (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-18.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Prune (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-19.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Strawberry (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
                <div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-20.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des2">
							<h4 class="kolaches">Strawberry Cream (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4" >
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-11.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Cottage Cheese (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="gallery-wrapper">
						<img src="{% static 'foodiesapp/images/kolaches-8.jpg' %}" class="img-responsive gallery-img" alt="Kolaches 4">
						<div class="gallery-des5">
							<h4 class="kolaches">Chocolate Cream (6-Pack) </h4>
							<h5>6-Pack &nbsp;&nbsp;&nbsp; $7.95</h5>
						</div>
					</div>
                </div>
		
			</div>
		</div>
	</section>
	<!-- end kolaches -->

{% endblock %}