

body
{
  width: 100%;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
  position: relative;
}
main {
  flex: 1 0 auto;
}


h1,h2, h3, h4,
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav>li>a:focus
{        
  color: #ee9014;
  font-family: 'Chewy', cursive;
  font-weight: 400;
  display: grid;
}


.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
}
a:hover { text-decoration: none; }

hr
{
  border: 1px solid #ffa400;
  width: 100px;
}

img
{
  max-width: 100%;
  height: auto;
}
.mark {
  list-style:none;
}

/* .drpbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/* start all section */
.templatemo-section
{
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
/* end all section */

/* start nagivation */
.navbar-default
{
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand
{
  color: #ffa400;
  font-size: 40px;
  line-height: 35px;
}
.navbar-default .navbar-nav li a
{
  line-height: 35px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: transparent;
}
.navbar-default .navbar-toggle
{
  border: none;
  padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar
{
  background: #ffa400;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start weikels navigation */
.weikels {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.weikelslogo {
  height: 50px;
  padding-left: 150px;
  align-self: center;

}
.contact {
  padding-left: 70px;
  margin-top: 40px;
  font-size: 17px;
  color: rgb(88, 86, 86);
  /* float: right; */
}

.text-black {
  color: black;
  text-align: center;
  font-size: 25px;;
}
.body-style {
  padding: 20px;
  font-size: medium;
}

.contform {
  text-align: center;
}
/* end weikels navigation */

/* start flexslider */
.flexslider {
  margin-top: 114px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.flex-direction-nav a {
  color: #444444;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  margin: -20px 0 0 0;
  text-align: center;
  line-height: 40px;
}

.flex-caption {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  z-index: 999;
  color: white;
}
.slider-title {
  font-size: 35px;
  color: #e78a10;
  
}
.slider-subtitle {
  color: rgb(111, 177, 25);
}
.slider-subtitle1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.slider-title,
.slider-subtitle {
  text-transform: uppercase;
}
.slider-description {
  font-size: 18px;
  line-height: 28px;
  padding-left: 200px;
  padding-right: 200px;
}
.no-js .slides > li:first-child {
  display: block;
}
.newcursr {
  cursor: pointer;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 55%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
  left: -50px;
}

.flex-direction-nav .flex-next {
  right: -50px;
}

.flexslider:hover .flex-prev {
  opacity: 1;
  left: 30px;
}

.flexslider:hover .flex-next {
  opacity: 1;
  right: 30px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a:before {
  font-family: "FontAwesome";
  font-size: 24px;
  display: inline-block;
  content: '\f104';
}

.flex-direction-nav a.flex-next:before {
  content: '\f105';
}

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay .flex-play:before {
  content: '\f003';
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  display: inline-block;
  zoom: 1; 
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
.flexslider {
  padding: 65px 0 0 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* end flexslider */



/* start about */
.padding-bottom-10
{
  padding-bottom: 10px;
}
.img-bordered
{
  border: 2px solid #f2f2f2;
  padding: 14px;
}
/* end about */

/* start gallery */

.templatemo-light-gray-bg
{
  background: #f9f9f9;
}
.gallery-wrapper
{
  background: none;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  
}
.gallery-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 670px;
  height: 300px;
  background: none;
  margin-top: 40px;
}
.gallery-wrapper:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery-wrapper1 {
  display: flex;
  width: 500px;
  background: none;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
.gallery-wrapper1:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.gallery-des
{
  padding: 0 20px 14px 20px;
}
.gallery-des1 {
  padding: 20px 65px 14px 20px;
}
.gallery-des2 {
  padding: 1px 65px 14px 20px;
}
.gallery-des3 {
  padding: 0 10px 1px 10px;
}
.gallery-des4 {
  padding: 0 30px 17px 10px;
}
.gallary-des5 {
  padding: 0 10px 10px 10px;
}
.gallery-des6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px 1px 10px;
}
.gallery-des7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 1px 10px;
}

.gallery-icon {
  padding: 0 10px 10px 10px;
  width: 250px;
  margin-right: 0px;
  float: center;
  /* text-align: left; */
}
.icon-wrt {
  color: rgb(65, 63, 63);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  font-weight: normal;
}
.gallery-img {
  margin: 0 auto;
  height: 200px;
}
.kolaches {
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
/* end gallery */

/* Start breakfast */
.breakfast {
  padding: 10px 10px 10px 10px;
  width: auto;
  margin-right: 0px;
  /* float: center; */
  text-align: center;
}
.icon1 {
  height: 200px;
}
.icon2 {
  height: 180px;
  float: right;
}
.icon3 {
  align: center;
  height: 300px;
}

.pric_taco {
  width: auto;
  /* text-align: right; */
}
.price {
  color: black;
  margin: 0px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.price1 {
  color: black;
  margin: 0px;
  width: 350px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1000px;
}
.t_toast {
  text-align: center;
  color: rgb(53, 51, 51);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* End breakfast */

/* Start lunch */
.v-divider{
  margin-left:5px;
  margin-right:5px;
  /* padding: 0px; */
  width:530px;
  height:100%;
  border-left:1px solid gray;
}
.s_price {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  /* text-align: right; */
}
.tacosty {
  padding-bottom: 50px;
}
.title .date { 
  float:right; 
  font-size: 20px;

}
.title .name { 
  float:left;
  font-size: 20px;
}
/* End lunch */

/* start coffee styling */
.subHeadCoffee {
  color: rgb(66, 65, 65);
  text-decoration: none;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.styhotcoff {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}
.undlin {
  width: 100%;
  text-align: left;
  margin-left: 0;
  border-color: rgb(155, 152, 152);
}
.space {
  margin-top: 100px;
}

/* end coffee styling */

/* start contact */
.map
{
  height: 200px;
}
.contact-fa
{
  color: #202020;
  font-size: 18px;
  padding-right: 10px;
}
.contact-link { color: #F0A00E; }
.form-control
{
  border: 2px solid #f2f2f2;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.form-control:focus,
.form-control:active
{
  border-color: #ffa400;
}
input
{
  height: 50px;
}
input[type="submit"]
{
  font-weight: bold;
  margin-bottom: 80px;
  margin-top: 20px;
}
input[type="submit"]:hover
{
  background: #ffa400;
  color: #ffffff;
}
.form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #666;
}
.form-control::-webkit-input-placeholder {
  color: #666;
}
/* end contact */

/* start new contact form */
.contform {
  background-color: white;
}
.splitcontact {
  color: black;
}
.newcont {
  margin-bottom: 50px;
}
/* end new contact form */

/* start style for map */
.mapouter{
  position:relative;
  text-align:right;
  height:409px;
  width:1300px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:409px;
  width:850px;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* end style for map */

/* start footer */
footer
{
  background: #535151;
  border-bottom: 10px solid #ffffff;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* end footer */


/* start social icon */
.social-icon
{
  position: relative;
  padding: 0;
  margin: 0;
}
.social-icon li
{
  display: inline-block;
  list-style: none;
}
.social-icon li a
{
  color: #666;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.social-icon li a:hover
{
  background: #ffa400;
  color: #ffffff;
}
/* end social icon */

/* start logo style */
.logoimg {
  height: 30px;
}
/* end logo style */

/* icon start */
.icon {
  height: 180px;
  
}
/* icon end */

/* Start Style menu */
.dropdown {
  color: #202020;
  font-size: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: none;
  font-family: 'Chewy', cursive;
  font-weight: 100;
}

/* End Style menu */

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #ffa400;
  z-index: 1;
  font-family: 'Chewy', cursive;
  font-weight: 400;
  list-style-type: none;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #ffa400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .drpbtn {
  color: rgb(0, 0, 0);
  font-family: 'Chewy', cursive;
  font-weight: 400;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #0a0907;
}

/* start flexslider button for bakery */
.butonflex{
  background-color: rgba(2, 2, 2, 0.281);
  border: 1px;
  border-top: black;
  color: rgb(218, 213, 213);
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}


/* end flexslider button for bakery */


/* start media quary for menu */

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 300px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .drpbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 300px) {
  .topnav a:not(:first-child), .dropdown .drpbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* end media quary for menu */

/* start mega menu */

/* @media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
} */

/* end mega menu */


@media only screen and (max-width:360px) {
  .navbar-default .navbar-brand { padding-top: 6px; }
  .img-about { margin-top: 40px; }
}

/********************************
IPAD LANDSCAPE (1024x768)
********************************/
/********************************
IPAD PORTRAIT (768x1024)
********************************/
@media only screen and (max-width: 960px) {
  .flex-caption { top: 20%; }
  .slider-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .slider-description {
    font-size: 16px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 768px) {
 .navbar-default .navbar-brand {
  font-size: 35px;
  padding-top: 10px;
  padding-left: 60px;
  /* padding-right: 70px; */
}  
}




/********************************
IPHONE 4-4S-5 LANDSCAPE (568x320)
********************************/
@media only screen and (max-width: 300px) {
  .flexslider { padding: 50px 0 0 0; }
  .flex-caption { display: none; }
  .flex-direction-nav a { top: 60%; }
  .templatemo-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}



/* .grid-divider {
  overflow-x: hidden; 
  position: relative;
} */


/********************************
IPHONE 4-4S-5 PORTRAIT (320x568)
********************************/